VAPI_API_KEY=56c9870e-ef86-4975-be6b-379c5851e3c4
VAPI_ASSISTANT_ID=ae27fa50-54fd-4a2b-872f-591877c908c1
VAPI_PHONE_NUMBER_ID=
SERVER_URL=https://YOUR-NGROK-URL/vapi
NGROK_AUTHTOKEN=3JxOAB3QYmLJyRAr6M8OJmrepfg_24LDZwCHukH7sNj6nx7YP